@model CarRentals.Models.Car.CreateCarViewModel

@{
    ViewData["Title"] = "Create A Question";
}

@section Styles {
    @{
        await Html.RenderPartialAsync("_Select2CssPartial");
    }
}

<div class="body">

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div class="col-md-12 mb-2">
                    <label class="form-label">Categories:</label>
                    <select asp-for="CategoryIds" class="form-control" asp-items="@ViewBag.Categories" data-placeholder="Select Categories" multiple>
                    </select>
                    <span asp-validation-for="CategoryIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PlateNumber" class="control-label"></label>
                    <input asp-for="PlateNumber" class="form-control" />
                    <span asp-validation-for="PlateNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <textarea asp-for="Price" class="form-control"></textarea>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoverPhoto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GalleryFiles" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="GalleryFiles" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create Car</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Select2JsPartial");
    }
}
