@model List<CarRentals.Models.Car.CarViewModel>

@{
    ViewData["Title"] = "Car List";
    Layout = "_CarLayout";

}

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{
    <div class="container">
        <div class="row">

            @foreach (var car in Model)
            {
                <div class="col-md-4">
                    <partial name="_carThumbnail" model="@car" />
                </div>
            }

        </div>
    </div>


}