@model List<CarRentals.Models.Car.CarViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{

    <div class="container">
        <h3 class="display-4">All cars</h3>
        <div class="row">

            @foreach (var car in Model)
            {
                <div class="col-md-4 mb-3">
                    <partial name="_carThumbnail" model="@car" />
                    <div class="btn-group">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Car" asp-action="GetCarDetail" asp-route-id="@car.Id" class="btn btn-sm btn-outline-secondary">
                                    View details
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
}
