@model CarRentals.Models.Booking.CreateBookingViewModel
@{
    ViewData["Title"] = "Write Comment";
    var carId = ViewContext.RouteData.Values["id"];
}


<div class="body">

    <div class="row">
        <div class="col-md-6">
            <form asp-action="BookCar">
                <input type="hidden" name="CarId" value="@carId" />

                <div class="col-md-12 mb-2">
                    <label for="BookedTime" class="form-label">BookedTime:</label>
                    <input type="date" class="form-control" placeholder="Enter BookedTime" asp-for="BookedTime">
                    <span asp-validation-for="BookedTime" class="text-danger"></span>
                </div>

                <div class="col-md-12 mb-2">
                    <label for="ReturnTime" class="form-label">End Date:</label>
                    <input type="date" class="form-control" placeholder="Enter ReturnTime" asp-for="ReturnTime">
                    <span asp-validation-for="ReturnTime" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create Booking</button>
                </div>

            </form>
        </div>
    </div>
</div>
